@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

input[type="range"] {
    accent-color: #ffffff;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul li {
    padding: 0 12px;
    transition: all 0.3s ease;
}

nav ul li:hover {
    color: #1db954;
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.brand img {
    width: 44px;
    margin-right: 10px;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('rm.jpg') no-repeat center center/cover;
    padding: 40px;
    border-radius: 12px;
    width: 70%;
    margin: 30px auto;
    text-align: center;
}
.songList {
    max-height: 430px; 
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

.songList::-webkit-scrollbar {
    width: 8px;
}

.songList::-webkit-scrollbar-thumb {
    background-color: #8d8d8d; 
    border-radius: 10px;
}

.songList::-webkit-scrollbar-track {
    background-color: #121212; 
}


.songItemContainer {
    margin-top: 20px;
}

.songItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.songItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.songItem img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.songName {
    flex-grow: 1;
    text-align: left;
    font-size: 1.1rem;
    margin-left: 10px;
}

.timestamp i {
    cursor: pointer;
    color: #1db954;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 120px; /* Increased height */
    background-color: black;
    color: rgb(158, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px; /* Added padding */
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icons i {
    cursor: pointer;
    font-size: 23px; 
    margin: 0 10px; 
}
#masterPlay {
    font-size: 35px;
}
.icons i:hover {
    color: #ffffff;
    transform: scale(1.2);
}

.progressContainer {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 50vw; 
}

#myProgressBar {
    flex-grow: 1;
    cursor: pointer;
    margin: 0 10px; 
}

.timeInfo {
    color: white;
    font-size: 1rem; 
}


.songInfo {
    font-size: 1.5rem; 
    margin-top: 10px; 
    display: flex;
    align-items: center; 
}

.songInfo img {
    width: 40px; 
    margin-right: 10px;
}

.songInfo #gif.playing {
    opacity: 1;
}

#masterSongName {
    font-size: 1.2rem;
    font-weight: 600;
}



@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    
    .songItem img {
        width: 40px;
    }

    .icons {
        flex-direction: column;
    }
}
